.notFound {
  width: 100%;
  height: 100%;
  display: flex;
  padding-top: 160px;
  padding-bottom: 100px;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.notFound p {
  font-size: 18px;
  color: var(--clr-font);
}
.divider {
  margin-top: -14px;
  background-color: var(--clr-font);
  height: 20px;
  width: 2px;
}
