@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  text-decoration: none !important;
  font-family: 'Poppins', sans-serif;
}
:root {
  --transition: all 0.6s ease;
}
html {
  scroll-behavior: smooth;
}
.light {
  --clr-bcg: #fff;
  --clr-cat: rgba(226, 214, 214, 0.4);
  --clr-navbar: rgba(255, 255, 255, 0.93);
  --clr-font: #030215;
  --clr-icon: #db084e;
  --clr-ani1: rgba(219, 8, 78, 0.4);
  --clr-ani2: rgba(219, 8, 78, 0.3);
  --clr-ani3: rgba(219, 8, 78, 0.1);
  --clr-bl-bcg: #ccc;
  --clr-thead: rgba(224, 217, 217, 0.5);
}
.dark {
  --clr-bcg: #030215;
  --clr-cat: rgba(15, 1, 1, 0.87);
  --clr-navbar: rgba(3, 2, 21, 0.93);
  --clr-font: #fff;
  --clr-icon: #65fcdb;
  --clr-ani1: rgba(101, 252, 219, 0.4);
  --clr-ani2: rgba(101, 252, 219, 0.3);
  --clr-ani3: rgba(101, 252, 219, 0.1);
  --clr-bl-bcg: #1c1e21;
  --clr-thead: #000;
}

body {
  background-color: var(--clr-bcg);
  color: var(--clr-font);
  transition: var(--transition);
}

thead tr th {
  background-color: var(--clr-thead) !important;
}

.dropdown-toggle,
.dropdown-toggle:hover,
.dropdown-toggle:focus {
  color: var(--clr-font);
  font-size: 18px;
}
.dropdown-menu {
  background-color: var(--clr-bcg);
  border: 1px solid var(--clr-icon);
}
.dropdown-item {
  color: var(--clr-font);
}
.dropdown-divider {
  color: gray;
}
.dropdown-item:hover {
  background-color: var(--clr-cat);
  color: var(--clr-icon);
}

.MuiPaper-root,
.MuiButton-root {
  border: 1px solid var(--clr-icon);
  background-color: var(--clr-bcg) !important;
  color: var(--clr-font) !important;
}
.MuiPaper-root p {
  background-color: var(--clr-bcg) !important;
  color: #808080 !important;
}
.ck.ck-toolbar {
  position: sticky !important;
  top: 0px !important;
  z-index: 2;
  border-top-left-radius: 4px !important;
  border-top-right-radius: 4px !important;
  background: var(--clr-bcg) !important;
}
.ck-content {
  background: var(--clr-bcg) !important;
  padding: 20px 10px !important;
  border: 1px solid #ccc !important;
  border-top: none !important;
}

.description p a span,
.ck-content p a span {
  border-radius: 4px !important;
  padding: 6px !important;
}

.ck-insert-table-dropdown__grid,
.ck-insert-table-dropdown__label,
.ck-list-styles-list,
.ck-color-table,
.ck.ck-list,
.ck.ck-link-form,
.ck.ck-media-form {
  background-color: var(--clr-bcg) !important;
}
.ck-collapsible .ck-button {
  background-color: var(--clr-bcg) !important;
  color: var(--clr-font);
}

.ck-rounded-corners .ck.ck-editor__main > .ck-editor__editable,
.ck.ck-editor__main > .ck-editor__editable.ck-rounded-corners {
  border: 1px solid #ccc !important;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 4px !important;
  border-bottom-right-radius: 4px !important;
}
.ck blockquote {
  color: #fff;
  padding-top: 18px;
  background-color: #343a40 !important;
  border-left: 5px solid var(--clr-icon) !important;
  border-radius: 2px !important;
  height: 100%;
}

.description blockquote::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.description blockquote {
  color: #fff;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  border-left: 5px solid var(--clr-icon);
  padding: 0 10px;
  padding-top: 18px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500px;
  background: #343a40 !important;
}
.description img {
  width: 100%;
  height: 240px;
  border-radius: 10px;
}

.ck.ck-button__label,
.ck.ck-icon {
  color: var(--clr-font) !important;
}

.ck.ck-button:hover,
.ck.ck-button.ck-on {
  background-color: var(--clr-bl-bcg) !important;
}
.ck.ck-input {
  border: 1px solid var(--clr-icon) !important;
  background: var(--clr-bcg) !important;
  color: var(--clr-font) !important;
}

.ck.ck-input:focus {
  box-shadow: none !important;
}
