.forgotPassCard {
  width: 380px;
  height: auto;
  position: absolute;
  top: 120px;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 10px 20px;
}
.forgotPassCard label {
  float: left;
  padding: 10px 0px 0px 4px;
}
.input {
  width: 100%;
}
.button {
  margin-top: 20px;
}
.forgotPassFooter {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-top: 10px;
}
.link {
  color: grey;
  text-decoration: underline !important;
  cursor: pointer;
}
.link:hover {
  color: var(--clr-icon);
  font-weight: 500;
  transition: var(--transition);
}
@media screen and (max-width: 440px) {
    .forgotPassCard {
      width: 90%;
    }
  }