.subTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.subTitleLeft {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}
.subTitleLeft p {
  font-size: 16px;
}
.underline {
  width: 3px;
  height: 20px;
  background-color: var(--clr-icon);
  margin-top: -1px;
  margin-right: 6px;
}
.date{
  font-size: 12px;
  color: gray;
}